<div class="container">
    <form (ngSubmit)= 'submitQuote()' #quoteForm='ngForm'>
      <div class="form-group ">
        <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" placeholder="Enter name of Publisher" required>
      </div>

      <!-- Quote Form -->
      <div class="form-group">
        <textarea class="form-control" id="quoteWords" rows="4" [(ngModel)]="newQuote.quoteWords" name="quoteWords" #quoteWords="ngModel" placeholder="Enter Quote here" required></textarea>
      </div>

      <!-- Author Form -->
      <div class="form-group">
        <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" placeholder="Enter the Authors name" required>
      </div>
      <button type="button" class="btn btn-info" (click)='submitQuote()'>Add quote</button>
    </form>
</div>